.gallery-container {
    width: 100vw;
    /* height: 100%; */
    padding: 4vmax;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.gallery-item {
    text-decoration: none;
    list-style-type: none;
    /* margin: 2vw; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    /* min-height: 60vh; */
    min-width: 25vw;
    max-height: 75vh;
    margin-bottom: 1vh;
    position: relative;
}

@media screen and (min-width: 800px) {
    .gallery-item {
        max-width: 28vw;
        /* min-height: 60vh; */
        align-self: start;
    }
}

.gallery-text {
    font-size: 1.3em;
    color: rgb(91, 91, 91);
    text-transform: uppercase;
    line-height: 1.7;
    margin-top: 1vw;
}

.cover-pic {
    width: 100%;
    max-height: 80%;
    object-fit: cover;
}

.info {
    font-size: .8em;
}