.gallery-container {
    width: 100vw;
    padding: 0vh 4vmax;
    display: flex;
    row-gap: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.gallery-item {
    text-decoration: none;
    list-style-type: none;
    min-width: 25vw;
    max-height: 80vh;
}

@media screen and (min-width: 800px) {
    .gallery-item {
        max-width: 28vw;
        min-height: 40vh;
        align-self: start;
    }
}

.gallery-text {
    font-size: 1.3em;
    color: rgb(91, 91, 91);
    text-transform: uppercase;
    line-height: 1.7;
    margin-top: 1vw;
}

.cover-pic {
    max-height: 85%;
    object-fit: contain;
}

.info {
    font-size: .8em;
}