.carousel {
    margin: 5vw;
    width: 90vw;
    height: 60vh;
    display: block;
}

.slider-link {
    /* max-width: 80vw; */
    height: 60vh;
}

.carousel-image {
    /* width: 80vw; */
    min-width: 30vw;
    max-width: 80vw;
    height: 60vh;
    object-fit: contain;
}
