.carousel {
    margin: 0vh 5vw;
    width: 90vw;
    height: 75vh;
}

.slider-link {
    display: flex;
    align-content: center;
    /* max-width: 80vw; */
    height: 75vh;
}

.carousel-image {
    /* width: 80vw; */
    /* min-width: 30vw; */
    /* max-width: 80vw; */
    /* height: 60vh; */
    object-fit: scale-down;
    /* max-height: 80vh; */
}
