.carousel {
    margin: 0vh 5vw;
    width: 90vw;
    height: 75vh;
}

.slider-link {
    display: flex;
    align-content: center;
    /* max-width: 80vw; */
    height: 75vh;
}

.carousel-image {
    object-fit: contain;
    /* max-height: 80vh; */
}
