* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeueBlack.otf) format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeueLight.otf) format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeueMedium.otf) format("opentype");
    font-weight: 500;
}
.container {
  /* font-family: 'New Rodin'; */
    height: 100vh;
    width: 100vw;
}
nav {
    height: 13vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0vh 0vh 3vh #1e1e1e;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
}
.logo {
    margin-left: 2vw;
}
nav .nav-links {
    display: flex;
    flex: 1;
    justify-self: end;
    justify-content: flex-end;
    font-weight: 300;
    margin: 4vh;
}
nav .nav-links a {
    height: 9vh;
    margin: 2vh;
    font-size: 2vh;
    transition: color .3s;
}
nav .nav-links a:hover {
    color: grey;
}
main {
    margin-top: 3vw;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    color: black;
    /* position: relative; */
    /* z-index: 0; */
}