.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    width: 100vw;
}


.cover {
    width: 40vw;
    /* height: 70vh; */
}

.extras-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    width: 40vw;
    /* height: 60vh; */
}

.extra-image {
    /* width: 20vw; */
    width: 20vw;
}

@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        /* width: 90vw; */
        align-items: center;
    }

    .cover {
        width: 80vw;
        /* height: 70vh; */
    }

    .extras-container {
        width: 80vw;
        /* height: 60vh; */
    }

    .extra-image {
        width: 80vw;
    }
}