h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 5em;
    font-weight: 300;
    color: grey;
}

.flex-container {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    width: 100vw;
}


.cover {
    width: 40vw;
    /* height: 70vh; */
}

.extras-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    width: 40vw;
    /* height: 60vh; */
}

.extra-image {
    /* width: 20vw; */
    width: 20vw;
}

@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        /* width: 90vw; */
        align-items: center;
    }

    .cover {
        width: 80vw;
        /* height: 70vh; */
    }

    .extras-container {
        width: 80vw;
        /* height: 60vh; */
    }

    .extra-image {
        width: 80vw;
    }
}

.info {
    margin: 1vh 10vw;
    color: rgb(126, 126, 126);
    font-family: 'Helvetica Neue';
    font-size: 2vmax;
    font-weight: 300;
    line-height: 1.5;
}

.description {
    margin: 1vh 10vw;
    color: rgb(56, 56, 56);
    font-family: 'Helvetica Neue';
    font-size: 1.5vmax;
    font-weight: 500;
    line-height: 1.5;
}